## Cleaning Data & Creating additional needed columns

In [4]:
import pandas as pd

In [48]:
nba = pd.read_excel("NBA_Cap2.xlsx")

In [49]:
#replacing values under draft_year & draft_round where its a 0 to 'Undrafted'

nba['draft_round'] = nba['draft_round'].replace(0, 'Undrafted')
nba['draft_number'] = nba['draft_number'].replace(0, 'Undrafted')

In [50]:
nba.head(30)

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,A.J. Bramlett,CLE,23,208.28,226.999545,Arizona,USA,1999,2,39,...,1.0,2.8,0.0,-32.6,0.158,0.208,0.146,0.190,0.000,1999-00
1,Gaylon Nickerson,WAS,28,193.04,189.999619,Northwestern Oklahoma,USA,1994,2,34,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,George Lynch,VAN,26,203.20,227.999543,North Carolina,USA,1993,1,12,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,George McCloud,LAL,30,203.20,224.999549,Florida State,USA,1989,1,7,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,George Zidek,DEN,23,213.36,263.999471,UCLA,USA,1995,1,22,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97
5,Gerald Wilkins,ORL,33,198.12,224.999549,Tennessee-Chattanooga,USA,1985,2,47,...,10.6,2.2,2.2,-5.8,0.031,0.064,0.203,0.503,0.143,1996-97
6,Gheorghe Muresan,WAS,26,231.14,302.999392,NaN,USA,1993,2,30,...,10.6,6.6,0.4,6.9,0.098,0.217,0.185,0.618,0.024,1996-97
7,Glen Rice,CHH,30,203.20,219.999559,Michigan,USA,1989,1,4,...,26.8,4.0,2.0,3.2,0.025,0.087,0.272,0.605,0.088,1996-97
8,Glenn Robinson,MIL,24,200.66,234.999529,Purdue,USA,1994,1,1,...,21.1,6.3,3.1,-2.9,0.051,0.144,0.278,0.528,0.146,1996-97
9,Grant Hill,DET,24,203.20,224.999549,Duke,USA,1994,1,3,...,21.4,9.0,7.3,6.9,0.049,0.232,0.283,0.556,0.356,1996-97
10,Gary Trent,POR,22,203.20,249.999499,Ohio,USA,1995,1,11,...,10.8,5.2,1.1,2.5,0.101,0.167,0.212,0.569,0.077,1996-97
11,Grant Long,DET,31,205.74,247.999503,Eastern Michigan,USA,1988,2,33,...,5.0,3.4,0.6,4.0,0.096,0.150,0.154,0.523,0.058,1996-97
12,Greg Anthony,VAN,29,185.42,179.999639,Nevada-Las Vegas,USA,1991,1,12,...,9.5,2.8,6.3,-9.4,0.015,0.099,0.177,0.526,0.358,1996-97
13,Greg Dreiling,DAL,33,215.90,264.999469,Kansas,USA,1986,2,26,...,2.0,1.9,0.3,-8.0,0.059,0.192,0.114,0.466,0.048,1996-97
14,Greg Foster,UTA,28,210.82,249.999499,Texas-El Paso,USA,1990,2,35,...,3.5,2.4,0.4,-0.9,0.078,0.166,0.168,0.508,0.055,1996-97
15,Greg Graham,SEA,26,193.04,181.999635,Indiana,USA,1993,1,17,...,3.3,0.5,0.4,3.6,0.013,0.063,0.245,0.476,0.100,1996-97
16,Greg Minor,BOS,25,198.12,209.999579,Louisville,USA,1994,1,25,...,9.6,3.5,1.5,-2.1,0.058,0.110,0.189,0.519,0.103,1996-97
17,Greg Ostertag,UTA,24,218.44,279.999439,Kansas,USA,1995,1,28,...,7.3,7.3,0.4,15.9,0.133,0.246,0.146,0.561,0.021,1996-97
18,Hakeem Olajuwon,HOU,34,213.36,254.999489,Houston,Nigeria,1984,1,1,...,23.2,9.2,3.0,6.5,0.075,0.206,0.308,0.558,0.158,1996-97
19,Harvey Grant,WAS,31,205.74,224.999549,Oklahoma,USA,1988,1,12,...,4.1,3.3,0.9,1.7,0.045,0.136,0.102,0.477,0.059,1996-97
20,Haywoode Workman,IND,31,187.96,179.999639,Oral Roberts,USA,1989,2,49,...,5.5,1.8,2.8,-7.3,0.056,0.045,0.139,0.538,0.234,1996-97
21,Greg Anderson,SAS,33,208.28,249.999499,Houston,USA,1987,1,23,...,3.9,5.5,0.4,-14.2,0.109,0.219,0.106,0.531,0.033,1996-97
22,Gary Payton,SEA,28,193.04,189.999619,Oregon State,USA,1990,1,2,...,21.8,4.6,7.1,10.3,0.040,0.102,0.264,0.545,0.330,1996-97
23,Gary Grant,MIA,32,190.50,184.999629,Michigan,USA,1988,1,15,...,3.9,1.4,1.6,3.2,0.029,0.105,0.194,0.460,0.215,1996-97
24,Fred Roberts,DAL,36,208.28,217.999563,Brigham Young,USA,1982,2,27,...,1.8,0.8,0.0,-13.1,0.053,0.178,0.265,0.520,0.000,1996-97
25,Eldridge Recasner,ATL,29,193.04,189.999619,Washington,USA,1992,Undrafted,Undrafted,...,5.7,1.6,1.3,-0.3,0.036,0.076,0.172,0.539,0.141,1996-97
26,Elliot Perry,MIL,28,182.88,159.999679,Memphis,USA,1991,2,37,...,6.9,1.5,3.0,-1.2,0.018,0.081,0.177,0.557,0.262,1996-97
27,Elmer Bennett,DEN,27,182.88,169.999659,Notre Dame,USA,1992,2,38,...,2.4,0.4,1.2,-7.4,0.000,0.053,0.187,0.470,0.216,1996-97
28,Elmore Spencer,SEA,27,213.36,269.999459,Nevada-Las Vegas,USA,1992,1,25,...,0.0,0.0,0.0,-147.5,0.000,0.000,0.126,0.000,0.000,1996-97
29,A.J. Guyton,CHI,23,185.42,179.999639,Indiana,USA,2000,2,32,...,6.0,1.1,1.9,-12.4,0.018,0.053,0.169,0.495,0.198,2000-01

In [51]:
#Creating a new column called seasons_played that counts the seasons each player played career-wide based on
#the amount of times their name appears in each row

seasons_played = nba['player_name'].value_counts()
nba['seasons_played'] = nba['player_name'].map(seasons_played)

In [52]:
#Can now see the seasons_played column
nba.head()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,seasons_played
0,A.J. Bramlett,CLE,23,208.28,226.999545,Arizona,USA,1999,2,39,...,2.8,0.0,-32.6,0.158,0.208,0.146,0.190,0.000,1999-00,1
1,Gaylon Nickerson,WAS,28,193.04,189.999619,Northwestern Oklahoma,USA,1994,2,34,...,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97,1
2,George Lynch,VAN,26,203.20,227.999543,North Carolina,USA,1993,1,12,...,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97,9
3,George McCloud,LAL,30,203.20,224.999549,Florida State,USA,1989,1,7,...,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97,6
4,George Zidek,DEN,23,213.36,263.999471,UCLA,USA,1995,1,22,...,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97,2

In [53]:
#Dropping season(since i don't need it anymore) & team abbreviation columns.
nba = nba.drop(['team_abbreviation'], axis=1)

In [54]:
nba.head()

,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,seasons_played
0,A.J. Bramlett,23,208.28,226.999545,Arizona,USA,1999,2,39,8,...,2.8,0.0,-32.6,0.158,0.208,0.146,0.190,0.000,1999-00,1
1,Gaylon Nickerson,28,193.04,189.999619,Northwestern Oklahoma,USA,1994,2,34,4,...,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97,1
2,George Lynch,26,203.20,227.999543,North Carolina,USA,1993,1,12,41,...,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97,9
3,George McCloud,30,203.20,224.999549,Florida State,USA,1989,1,7,64,...,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97,6
4,George Zidek,23,213.36,263.999471,UCLA,USA,1995,1,22,52,...,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97,2

In [55]:
#replacing blanks with None
nba['college'] = nba['college'].fillna('None')
nba['college'] = nba['college'].replace('', 'None')

In [56]:
#Replace 'Undrafted' with 0 and convert to int
nba['draft_year'] = nba['draft_year'].replace('Undrafted', 0).astype(int)

#Keep only players drafted >=1996 or undrafted
nba_filtered = nba[(nba['draft_year'] >= 1996) | (nba['draft_year'] == 0)]

# 3. Get rookie (first) and final (last) seasons per player
rookie_season = nba_filtered.groupby('player_name')['season'].min().reset_index()
rookie_season['season_type'] = 'Rookie'

final_season = nba_filtered.groupby('player_name')['season'].max().reset_index()
final_season['season_type'] = 'Final'

# 4. Combine rookie and final season tags
season_tags = pd.concat([rookie_season, final_season])

# 5. Merge with filtered data to get full player info
nba_labeled = nba_filtered.merge(season_tags, on=['player_name', 'season'], how='inner')

/var/folders/n4/6s9_5wvj3j93w_w0rhcry3s00000gn/T/ipykernel_36346/2389618995.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  nba['draft_year'] = nba['draft_year'].replace('Undrafted', 0).astype(int)

In [57]:
nba_labeled['draft_year'] = nba_labeled['draft_year'].replace(0, 'Undrafted')

In [58]:
nba_labeled['height_in'] = nba_labeled['player_height']/2.54

In [59]:
nba_labeled['age_range'] = pd.cut(nba_labeled['age'], bins=[17, 22, 25, 28, 31, 36, 43],
                               labels=['18-22', '23-25', '26-28', '29-31', '32-36', '37-43'])
nba_labeled['height_range'] = pd.cut(nba_labeled['height_in'], bins=[62, 72, 78, 84, 91],
                                    labels=['<6ft', '6\'-6\'5"', '6\'6"-6\'11"', '7ft+'])
nba_labeled['weight_range'] = pd.cut(nba_labeled['player_weight'], bins=[130, 180, 220, 260, 300, 370],
                                    labels=['130-179', '180-219', '220-259', '260-299', '300+'])

In [215]:
#nba_labeled = nba_labeled.drop(['weight_range'], axis=1)

In [60]:
nba_labeled.head()

,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,...,usg_pct,ts_pct,ast_pct,season,seasons_played,season_type,height_in,age_range,height_range,weight_range
0,A.J. Bramlett,23,208.28,226.999545,Arizona,USA,1999,2,39,8,...,0.146,0.190,0.000,1999-00,1,Rookie,82.0,23-25,"6'6""-6'11""",220-259
1,A.J. Bramlett,23,208.28,226.999545,Arizona,USA,1999,2,39,8,...,0.146,0.190,0.000,1999-00,1,Final,82.0,23-25,"6'6""-6'11""",220-259
2,A.J. Guyton,23,185.42,179.999639,Indiana,USA,2000,2,32,33,...,0.169,0.495,0.198,2000-01,3,Rookie,73.0,23-25,"6'-6'5""",130-179
3,A.J. Guyton,25,185.42,179.999639,Indiana,USA,2000,2,32,2,...,0.282,0.000,0.400,2002-03,3,Final,73.0,23-25,"6'-6'5""",130-179
4,A.J. Lawson,22,198.12,178.999641,South Carolina,Canada,Undrafted,Undrafted,Undrafted,15,...,0.189,0.589,0.032,2022-23,1,Rookie,78.0,18-22,"6'-6'5""",130-179

In [217]:
#nba_labeled['player_weight'] = pd.to_numeric(nba_labeled['player_weight'], errors='coerce')

In [61]:
nba_labeled[nba_labeled['season_type'] == 'Rookie']['age_range'].value_counts()

age_range
23-25    1002
18-22     937
26-28     189
29-31      53
32-36      10
37-43       0
Name: count, dtype: int64

In [62]:
nba_labeled[nba_labeled['season_type'] == 'Rookie']['seasons_played'].value_counts()

seasons_played
1     508
2     375
3     247
4     185
5     122
6     118
8      94
10     88
7      84
9      72
11     66
12     57
13     55
14     45
15     22
16     17
17     13
18     11
19      6
20      4
21      1
22      1
Name: count, dtype: int64

In [63]:
nba_labeled['college_ctgry'] = nba_labeled['college'].apply(lambda x: 'No College' if x == 'None' else 'Attended College')

In [64]:
nba_labeled.head(25)

,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,...,ts_pct,ast_pct,season,seasons_played,season_type,height_in,age_range,height_range,weight_range,college_ctgry
0,A.J. Bramlett,23,208.28,226.999545,Arizona,USA,1999,2,39,8,...,0.190,0.000,1999-00,1,Rookie,82.0,23-25,"6'6""-6'11""",220-259,Attended College
1,A.J. Bramlett,23,208.28,226.999545,Arizona,USA,1999,2,39,8,...,0.190,0.000,1999-00,1,Final,82.0,23-25,"6'6""-6'11""",220-259,Attended College
2,A.J. Guyton,23,185.42,179.999639,Indiana,USA,2000,2,32,33,...,0.495,0.198,2000-01,3,Rookie,73.0,23-25,"6'-6'5""",130-179,Attended College
3,A.J. Guyton,25,185.42,179.999639,Indiana,USA,2000,2,32,2,...,0.000,0.400,2002-03,3,Final,73.0,23-25,"6'-6'5""",130-179,Attended College
4,A.J. Lawson,22,198.12,178.999641,South Carolina,Canada,Undrafted,Undrafted,Undrafted,15,...,0.589,0.032,2022-23,1,Rookie,78.0,18-22,"6'-6'5""",130-179,Attended College
5,A.J. Lawson,22,198.12,178.999641,South Carolina,Canada,Undrafted,Undrafted,Undrafted,15,...,0.589,0.032,2022-23,1,Final,78.0,18-22,"6'-6'5""",130-179,Attended College
6,Aaron Brooks,23,182.88,160.999677,Oregon,USA,2007,1,26,51,...,0.535,0.249,2007-08,10,Rookie,72.0,23-25,<6ft,130-179,Attended College
7,Aaron Brooks,33,182.88,160.999677,Oregon,USA,2007,1,26,32,...,0.508,0.161,2017-18,10,Final,72.0,32-36,<6ft,130-179,Attended College
8,Aaron Gordon,19,205.74,219.999559,Arizona,USA,2014,1,4,47,...,0.517,0.064,2014-15,9,Rookie,81.0,18-22,"6'6""-6'11""",180-219,Attended College
9,Aaron Gordon,27,203.20,234.999529,Arizona,USA,2014,1,4,68,...,0.617,0.129,2022-23,9,Final,80.0,26-28,"6'6""-6'11""",220-259,Attended College
10,Aaron Gray,23,213.36,269.999459,Pittsburgh,USA,2007,2,49,61,...,0.529,0.113,2007-08,7,Rookie,84.0,23-25,"6'6""-6'11""",260-299,Attended College
11,Aaron Gray,29,213.36,269.999459,Pittsburgh,USA,2007,2,49,37,...,0.466,0.092,2013-14,7,Final,84.0,29-31,"6'6""-6'11""",260-299,Attended College
12,Aaron Harrison,21,198.12,209.999579,Kentucky,USA,Undrafted,Undrafted,Undrafted,21,...,0.371,0.033,2015-16,3,Rookie,78.0,18-22,"6'-6'5""",180-219,Attended College
13,Aaron Harrison,23,198.12,209.999579,Kentucky,USA,Undrafted,Undrafted,Undrafted,9,...,0.392,0.072,2017-18,3,Final,78.0,23-25,"6'-6'5""",180-219,Attended College
14,Aaron Henry,22,195.58,209.999579,Michigan State,USA,Undrafted,Undrafted,Undrafted,6,...,0.200,0.000,2021-22,1,Rookie,77.0,18-22,"6'-6'5""",180-219,Attended College
15,Aaron Henry,22,195.58,209.999579,Michigan State,USA,Undrafted,Undrafted,Undrafted,6,...,0.200,0.000,2021-22,1,Final,77.0,18-22,"6'-6'5""",180-219,Attended College
16,Aaron Holiday,22,185.42,184.999629,UCLA,USA,2018,1,23,50,...,0.518,0.180,2018-19,5,Rookie,73.0,18-22,"6'-6'5""",180-219,Attended College
17,Aaron Holiday,26,182.88,184.999629,UCLA,USA,2018,1,23,63,...,0.528,0.135,2022-23,5,Final,72.0,26-28,<6ft,180-219,Attended College
18,Aaron Jackson,32,190.50,182.999633,None,USA,Undrafted,Undrafted,Undrafted,1,...,0.405,0.053,2017-18,1,Rookie,75.0,32-36,"6'-6'5""",180-219,No College
19,Aaron Jackson,32,190.50,182.999633,None,USA,Undrafted,Undrafted,Undrafted,1,...,0.405,0.053,2017-18,1,Final,75.0,32-36,"6'-6'5""",180-219,No College
20,Aaron Miles,23,185.42,189.999619,Kansas,USA,Undrafted,Undrafted,Undrafted,19,...,0.405,0.308,2005-06,1,Rookie,73.0,23-25,"6'-6'5""",180-219,Attended College
21,Aaron Miles,23,185.42,189.999619,Kansas,USA,Undrafted,Undrafted,Undrafted,19,...,0.405,0.308,2005-06,1,Final,73.0,23-25,"6'-6'5""",180-219,Attended College
22,Aaron Nesmith,21,195.58,214.999569,Vanderbilt,USA,2020,1,14,46,...,0.573,0.047,2020-21,3,Rookie,77.0,18-22,"6'-6'5""",180-219,Attended College
23,Aaron Nesmith,23,195.58,214.999569,Vanderbilt,USA,2020,1,14,73,...,0.566,0.073,2022-23,3,Final,77.0,23-25,"6'-6'5""",180-219,Attended College
24,Aaron Wiggins,23,193.04,189.999619,Maryland,USA,2021,2,55,50,...,0.556,0.083,2021-22,2,Rookie,76.0,23-25,"6'-6'5""",180-219,Attended College

In [65]:
nba_labeled.to_csv("nba_rookie_final.csv", index=False)

In [15]:
#Transforming dataset to career-wide dataset. Aggregating box score stats(avg), games played(sum) & demographic info(first)
nba = nba.groupby('player_name').agg({
    'age': 'mean',
    'player_height': 'mean',
    'player_weight': 'mean',
    'college': 'first',
    'country': 'first',
    'draft_year': 'first',
    'draft_round': 'first',
    'draft_number': 'first',
    'gp': 'sum',
    'pts': 'mean', 
    'reb': 'mean',
    'ast': 'mean',
    'net_rating': 'mean',
    'oreb_pct': 'mean',
    'dreb_pct': 'mean',
    'usg_pct': 'mean',
    'ts_pct': 'mean',
    'ast_pct': 'mean',
    'season': 'first',
    'seasons_played': 'first'
}).reset_index()

In [17]:
nba.shape

(2550, 21)

In [21]:
#Creating a decade column to be able to filter later in viz programs
#Extracting the start year from the season column
nba['season_start_year'] = nba['season'].str[:4].astype(int)

#Calculating the decade
nba['decade'] = (nba['season_start_year'] // 10) * 10

#Adding the "s"
nba['decade_label'] = nba['decade'].astype(str) + 's'

#Dropping season_start_year & decade
nba = nba.drop(['season_start_year', 'decade'], axis=1)

In [22]:
nba.head()

,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,seasons_played,decade_label
0,A.C. Green,35.0,205.74,224.999549,Oregon State,USA,1985,1,23,379,...,0.860000,-1.88,0.093000,0.1864,0.1274,0.4868,0.054,1996-97,5,1990s
1,A.J. Bramlett,23.0,208.28,226.999545,Arizona,USA,1999,2,39,8,...,0.000000,-32.60,0.158000,0.2080,0.1460,0.1900,0.000,1999-00,1,1990s
2,A.J. Guyton,24.0,185.42,179.999639,Indiana,USA,2000,2,32,80,...,1.566667,-6.70,0.013333,0.0400,0.2240,0.3240,0.282,2000-01,3,2000s
3,A.J. Lawson,22.0,198.12,178.999641,South Carolina,Canada,Undrafted,Undrafted,Undrafted,15,...,0.100000,-20.10,0.046000,0.1520,0.1890,0.5890,0.032,2022-23,1,2020s
4,AJ Green,23.0,195.58,189.999619,Northern Iowa,USA,Undrafted,Undrafted,Undrafted,35,...,0.600000,-4.90,0.016000,0.1050,0.1590,0.6070,0.092,2022-23,1,2020s

In [24]:
nba = nba.rename(columns={
    'season': 'starting_season',
    'decade_label': 'decade'
})

In [26]:
nba.head()

,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,starting_season,seasons_played,decade
0,A.C. Green,35.0,205.74,224.999549,Oregon State,USA,1985,1,23,379,...,0.860000,-1.88,0.093000,0.1864,0.1274,0.4868,0.054,1996-97,5,1990s
1,A.J. Bramlett,23.0,208.28,226.999545,Arizona,USA,1999,2,39,8,...,0.000000,-32.60,0.158000,0.2080,0.1460,0.1900,0.000,1999-00,1,1990s
2,A.J. Guyton,24.0,185.42,179.999639,Indiana,USA,2000,2,32,80,...,1.566667,-6.70,0.013333,0.0400,0.2240,0.3240,0.282,2000-01,3,2000s
3,A.J. Lawson,22.0,198.12,178.999641,South Carolina,Canada,Undrafted,Undrafted,Undrafted,15,...,0.100000,-20.10,0.046000,0.1520,0.1890,0.5890,0.032,2022-23,1,2020s
4,AJ Green,23.0,195.58,189.999619,Northern Iowa,USA,Undrafted,Undrafted,Undrafted,35,...,0.600000,-4.90,0.016000,0.1050,0.1590,0.6070,0.092,2022-23,1,2020s

In [27]:
nba.shape

(2550, 22)

In [28]:
nba.value_counts('college')

college
None                  352
Kentucky               77
Duke                   66
UCLA                   52
Kansas                 52
                     ...
Alabama A&M             1
Yonsei (KOR)            1
West Virginia Tech      1
Westchester CC NY       1
Augustana (SD)          1
Name: count, Length: 335, dtype: int64

In [29]:
#Converting height(cm) to inches
nba['height_in'] = nba['player_height']/2.54

In [30]:
#Converting height_in to ft
nba['height_ft'] = nba['height_in']/12

In [31]:
nba['player_weight'].max()

np.float64(359.9992782)

In [32]:
#Creating age range, height, weight, avg ppg, & net rating%  bins
nba['age_range'] = pd.cut(nba['age'], bins=[18, 22, 25, 28, 31, 36, 44],
                               labels=['18-22', '23-25', '26-28', '29-31', '32-36', '37-43'])
nba['height_range'] = pd.cut(nba['height_in'], bins=[62, 72, 78, 84, 91],
                                    labels=['<6ft', '6\'-6\'5"', '6\'6"-6\'11"', '7ft+'])
nba['weight_range'] = pd.cut(nba['player_weight'], bins=[130, 180, 220, 260, 300, 370],
                                    labels=['130-179', '180-219', '220-259', '260-299', '300+'])
nba['pts_range'] = pd.cut(nba['pts'], bins=[-0.1, 5, 10, 15, 20, 25, 30],
                                 labels=['0-5', '6-10', '11-15', '16-20', '21-25', '26+'])
nba['reb_range'] = pd.cut(nba['reb'], bins=[-0.1, 3, 6, 9, 12, 15],
                                 labels=['0-3', '4-6', '7-9', '10-12', '13+'])
nba['net_rating_range'] = pd.cut(nba['net_rating'], bins=[-160, -20, 0, 10, 20, 40, 140],
                                        labels=['Very Low', 'Low', 'Average', 'Good', 'Great', 'Elite'])

In [34]:
#Creating college or no college category
nba['college_ctgry'] = nba['college'].apply(lambda x: 'No College' if x == 'None' else 'Attended College')

#Convert to numeric (Undrafted becomes NaN)
nba['draft_round'] = pd.to_numeric(nba['draft_round'], errors='coerce')
nba['draft_number'] = pd.to_numeric(nba['draft_number'], errors='coerce')

#Create bins (NOTE: do NOT include 'Undrafted' in labels here)
nba['draft_round_ctgry'] = pd.cut(
    nba['draft_round'],
    bins=[-1, 1, 2, 8],
    labels=['Round 1', 'Round 2', 'Round 3+']  # NO 'Undrafted' here
)

nba['draft_number_ctgry'] = pd.cut(
    nba['draft_number'],
    bins=[-1, 10, 30, 60, 100],
    labels=['Top 10', '11–30', '31–60', '61+']
)

#Assign 'Undrafted' to missing values (NaNs)
nba['draft_round_ctgry'] = nba['draft_round_ctgry'].astype(object)
nba['draft_round_ctgry'] = nba['draft_round_ctgry'].fillna('Undrafted')

nba['draft_number_ctgry'] = nba['draft_number_ctgry'].astype(object)
nba['draft_number_ctgry'] = nba['draft_number_ctgry'].fillna('Undrafted')

In [36]:
nba.head(10)

,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,...,height_ft,age_range,height_range,weight_range,pts_range,reb_range,net_rating_range,college_ctgry,draft_round_ctgry,draft_number_ctgry
0,A.C. Green,35.0,205.740000,224.999549,Oregon State,USA,1985,1.0,23.0,379,...,6.750000,32-36,"6'6""-6'11""",220-259,6-10,7-9,Low,Attended College,Round 1,11–30
1,A.J. Bramlett,23.0,208.280000,226.999545,Arizona,USA,1999,2.0,39.0,8,...,6.833333,23-25,"6'6""-6'11""",220-259,0-5,0-3,Very Low,Attended College,Round 2,31–60
2,A.J. Guyton,24.0,185.420000,179.999639,Indiana,USA,2000,2.0,32.0,80,...,6.083333,23-25,"6'-6'5""",130-179,0-5,0-3,Low,Attended College,Round 2,31–60
3,A.J. Lawson,22.0,198.120000,178.999641,South Carolina,Canada,Undrafted,NaN,NaN,15,...,6.500000,18-22,"6'-6'5""",130-179,0-5,0-3,Very Low,Attended College,Undrafted,Undrafted
4,AJ Green,23.0,195.580000,189.999619,Northern Iowa,USA,Undrafted,NaN,NaN,35,...,6.416667,23-25,"6'-6'5""",180-219,0-5,0-3,Low,Attended College,Undrafted,Undrafted
5,AJ Griffin,19.0,198.120000,219.999559,Duke,USA,2022,1.0,16.0,72,...,6.500000,18-22,"6'-6'5""",180-219,6-10,0-3,Average,Attended College,Round 1,11–30
6,AJ Hammons,24.0,213.360000,259.999479,Purdue,USA,2016,2.0,46.0,22,...,7.000000,23-25,"6'6""-6'11""",220-259,0-5,0-3,Low,Attended College,Round 2,31–60
7,AJ Price,25.5,187.960000,186.999625,Connecticut,USA,2009,2.0,52.0,261,...,6.166667,26-28,"6'-6'5""",180-219,6-10,0-3,Low,Attended College,Round 2,31–60
8,Aaron Brooks,28.1,182.880000,160.999677,Oregon,USA,2007,1.0,26.0,645,...,6.000000,29-31,<6ft,130-179,6-10,0-3,Low,Attended College,Round 1,11–30
9,Aaron Gordon,23.0,204.611111,226.666212,Arizona,USA,2014,1.0,4.0,596,...,6.712963,23-25,"6'6""-6'11""",220-259,11-15,7-9,Average,Attended College,Round 1,Top 10

In [37]:
nba['draft_round'] = nba['draft_round'].fillna('Undrafted')
nba['draft_number'] = nba['draft_number'].fillna('Undrafted')

In [38]:
nba.head()

,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,...,height_ft,age_range,height_range,weight_range,pts_range,reb_range,net_rating_range,college_ctgry,draft_round_ctgry,draft_number_ctgry
0,A.C. Green,35.0,205.74,224.999549,Oregon State,USA,1985,1.0,23.0,379,...,6.750000,32-36,"6'6""-6'11""",220-259,6-10,7-9,Low,Attended College,Round 1,11–30
1,A.J. Bramlett,23.0,208.28,226.999545,Arizona,USA,1999,2.0,39.0,8,...,6.833333,23-25,"6'6""-6'11""",220-259,0-5,0-3,Very Low,Attended College,Round 2,31–60
2,A.J. Guyton,24.0,185.42,179.999639,Indiana,USA,2000,2.0,32.0,80,...,6.083333,23-25,"6'-6'5""",130-179,0-5,0-3,Low,Attended College,Round 2,31–60
3,A.J. Lawson,22.0,198.12,178.999641,South Carolina,Canada,Undrafted,Undrafted,Undrafted,15,...,6.500000,18-22,"6'-6'5""",130-179,0-5,0-3,Very Low,Attended College,Undrafted,Undrafted
4,AJ Green,23.0,195.58,189.999619,Northern Iowa,USA,Undrafted,Undrafted,Undrafted,35,...,6.416667,23-25,"6'-6'5""",180-219,0-5,0-3,Low,Attended College,Undrafted,Undrafted

In [42]:
nba.to_csv("nba_career4.csv", index=False)

In [39]:
nba.value_counts('height_range')

height_range
6'6"-6'11"    1327
6'-6'5"       1023
<6ft           100
7ft+           100
Name: count, dtype: int64

In [40]:
nba.value_counts('weight_range')

weight_range
180-219    1234
220-259     975
130-179     182
260-299     147
300+         12
Name: count, dtype: int64

In [399]:
career_df[career_df['draft_year'] >= 1996].describe()

,age,player_height,player_weight,draft_year,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,seasons_played,height_in
count,1410.000000,1410.000000,1410.000000,1410.000000,1410.000000,1410.000000,1410.000000,1410.000000,1410.000000,1410.000000,1410.000000,1410.000000,1410.000000,1410.000000,1410.000000,1410.000000
mean,24.643777,200.929734,220.440799,2009.412057,328.565248,7.018299,3.066225,1.490985,-4.063578,0.054265,0.137655,0.184112,0.504240,0.122235,6.037589,79.106195
std,2.616334,8.754293,26.410942,7.814637,315.194341,5.042803,2.029377,1.471361,11.792097,0.040000,0.054172,0.047959,0.095049,0.083023,4.541349,3.446572
min,19.000000,175.260000,156.666353,1996.000000,1.000000,0.000000,0.000000,0.000000,-143.100000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,69.000000
25%,22.906250,195.580000,199.999599,2003.000000,67.250000,3.150000,1.650000,0.533333,-6.687500,0.023000,0.097000,0.154786,0.473750,0.066000,2.000000,77.000000
50%,24.500000,200.660000,219.999559,2010.000000,219.500000,5.800000,2.650000,1.000000,-2.823333,0.041500,0.128083,0.180775,0.517080,0.097174,5.000000,79.000000
75%,26.500000,208.280000,239.999519,2016.000000,529.250000,9.450000,4.050000,1.934804,0.382639,0.081875,0.175000,0.210972,0.551982,0.161500,9.000000,82.000000
max,35.500000,228.282500,333.999330,2022.000000,1541.000000,27.700000,12.509091,9.450000,133.300000,0.333000,0.375000,0.750000,1.064000,0.667000,22.000000,89.875000

In [397]:
nba_career.head()

,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,...,height_in,age_range,height_range,weight_range,pts_range,reb_range,net_rating_range,college_ctgry,draft_round_ctgry,draft_number_ctgry
0,A.C. Green,35.0,205.74,224.999549,Oregon State,USA,1985,1.0,23.0,379,...,81.0,32-36,"6'6""-6'11""",220-259,6-10,7-9,Low,Attended College,Round 1,11–30
1,A.J. Bramlett,23.0,208.28,226.999545,Arizona,USA,1999,2.0,39.0,8,...,82.0,23-25,"6'6""-6'11""",220-259,0-5,0-3,Very Low,Attended College,Round 2,31–60
2,A.J. Guyton,24.0,185.42,179.999639,Indiana,USA,2000,2.0,32.0,80,...,73.0,23-25,"6'-6'5""",130-179,0-5,0-3,Low,Attended College,Round 2,31–60
3,A.J. Lawson,22.0,198.12,178.999641,South Carolina,Canada,Undrafted,Undrafted,Undrafted,15,...,78.0,18-22,"6'-6'5""",130-179,0-5,0-3,Very Low,Attended College,Undrafted,Undrafted
4,AJ Green,23.0,195.58,189.999619,Northern Iowa,USA,Undrafted,Undrafted,Undrafted,35,...,77.0,23-25,"6'-6'5""",180-219,0-5,0-3,Low,Attended College,Undrafted,Undrafted

In [41]:
nba.value_counts('draft_number_ctgry')

draft_number_ctgry
Undrafted    802
31–60        682
11–30        678
Top 10       380
61+            8
Name: count, dtype: int64

### Getting dfs ready for Predictive Model #1

- #### Filtering out draft year to be either 0(for 'Undrafted's) or >= 1996 for career-wide df. 
- #### Extracting rookie age from rookie/final df and putting it into the career-wide df for the predictive model.

In [66]:
#Loading both datasets
rookie_final_df = pd.read_csv('nba_rookie_final.csv')
career_df = pd.read_csv('nba_career4.csv')

#For career_df, replacing 'Undrafted' with 0 in draft_year
career_df['draft_year'] = career_df['draft_year'].replace('Undrafted', 0)

#Converting draft_year to integer
career_df['draft_year'] = career_df['draft_year'].astype(int)

#Filtering to keep players with draft_year >= 1996 or draft_year == 0 (undrafted)
career_df_filtered = career_df[(career_df['draft_year'] >= 1996) | (career_df['draft_year'] == 0)]

#For rookie_final_df, filtering for rookie season and selecting only player_name and age & making that its own df
rookie_age_df = rookie_final_df[rookie_final_df['season_type'] == 'Rookie'][['player_name', 'age']]

#Rename age to rookie_age since career_df already has a 'age' column
rookie_age_df = rookie_age_df.rename(columns={'age': 'rookie_age'})

#Merge rookie_age into career_df
merged_df = career_df_filtered.merge(rookie_age_df, on='player_name', how='left')

merged_df['college'] = merged_df['college'].fillna('None')
merged_df['college'] = merged_df['college'].replace('', 'None')

merged_df.head()

,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,...,age_range,height_range,weight_range,pts_range,reb_range,net_rating_range,college_ctgry,draft_round_ctgry,draft_number_ctgry,rookie_age
0,A.J. Bramlett,23.0,208.28,226.999545,Arizona,USA,1999,2.0,39.0,8,...,23-25,"6'6""-6'11""",220-259,0-5,0-3,Very Low,Attended College,Round 2,31–60,23
1,A.J. Guyton,24.0,185.42,179.999639,Indiana,USA,2000,2.0,32.0,80,...,23-25,"6'-6'5""",130-179,0-5,0-3,Low,Attended College,Round 2,31–60,23
2,A.J. Lawson,22.0,198.12,178.999641,South Carolina,Canada,0,Undrafted,Undrafted,15,...,18-22,"6'-6'5""",130-179,0-5,0-3,Very Low,Attended College,Undrafted,Undrafted,22
3,AJ Green,23.0,195.58,189.999619,Northern Iowa,USA,0,Undrafted,Undrafted,35,...,23-25,"6'-6'5""",180-219,0-5,0-3,Low,Attended College,Undrafted,Undrafted,23
4,AJ Griffin,19.0,198.12,219.999559,Duke,USA,2022,1.0,16.0,72,...,18-22,"6'-6'5""",180-219,6-10,0-3,Average,Attended College,Round 1,11–30,19

In [67]:
merged_df['draft_number_ctgry'] = merged_df['draft_number_ctgry'].replace({
    "'11-30": "11_to_30",
    "'31-60": "31_to_60",
    "'Undrafted": "Undrafted",
    "'Top 10": "Top 10"
})

In [68]:
merged_df.value_counts('draft_number_ctgry')

draft_number_ctgry
Undrafted    794
31–60        585
11–30        536
Top 10       269
61+            1
Name: count, dtype: int64

In [69]:
merged_df.head()

,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,...,age_range,height_range,weight_range,pts_range,reb_range,net_rating_range,college_ctgry,draft_round_ctgry,draft_number_ctgry,rookie_age
0,A.J. Bramlett,23.0,208.28,226.999545,Arizona,USA,1999,2.0,39.0,8,...,23-25,"6'6""-6'11""",220-259,0-5,0-3,Very Low,Attended College,Round 2,31–60,23
1,A.J. Guyton,24.0,185.42,179.999639,Indiana,USA,2000,2.0,32.0,80,...,23-25,"6'-6'5""",130-179,0-5,0-3,Low,Attended College,Round 2,31–60,23
2,A.J. Lawson,22.0,198.12,178.999641,South Carolina,Canada,0,Undrafted,Undrafted,15,...,18-22,"6'-6'5""",130-179,0-5,0-3,Very Low,Attended College,Undrafted,Undrafted,22
3,AJ Green,23.0,195.58,189.999619,Northern Iowa,USA,0,Undrafted,Undrafted,35,...,23-25,"6'-6'5""",180-219,0-5,0-3,Low,Attended College,Undrafted,Undrafted,23
4,AJ Griffin,19.0,198.12,219.999559,Duke,USA,2022,1.0,16.0,72,...,18-22,"6'-6'5""",180-219,6-10,0-3,Average,Attended College,Round 1,11–30,19

In [70]:
#merged_df.to_csv('nba_df_for_pre_mdl.csv', index=False)

In [71]:
#Loading in ^ dataset
merged_df2 = pd.read_csv('nba_df_for_pre_mdl.csv')

In [72]:
#Creating booloean columns for each stat threshold
stat_criteria = pd.DataFrame({
    'pts': merged_df2['pts'] > 5.93,
    'reb': merged_df2['reb'] > 2.69,
    'ast': merged_df2['ast'] > 1.32,
    'netr': merged_df2['net_rating'] > 0})

#Summing how many stat criterias each player meets
merged_df2['criteria_met'] = stat_criteria.sum(axis=1)

#Creating 'top_performer' column where a 1 means they are a top performer and 0 means they're not
merged_df2['top_performer'] = (merged_df2['criteria_met'] >= 3).astype(int)

In [73]:
#Counting the number of top performers  from each college
merged_df2[merged_df2['top_performer'] == 1]['college'].value_counts()

college
Kentucky                    25
Duke                        20
UCLA                        13
Arizona                     13
North Carolina              10
                            ..
Butler Community College     1
Pittsburgh                   1
Mississippi                  1
Notre Dame                   1
Miami (OH)                   1
Name: count, Length: 114, dtype: int64

In [74]:
merged_df2['college'].value_counts()

college
Kentucky                75
Duke                    60
Kansas                  46
UCLA                    44
Arizona                 41
                        ..
Jackson State            1
Wright State             1
Montana                  1
Winthrop                 1
Brigham Young-Hawaii     1
Name: count, Length: 315, dtype: int64

In [75]:
merged_df2.head(30)

,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,...,weight_range,pts_range,reb_range,net_rating_range,college_ctgry,draft_round_ctgry,draft_number_ctgry,rookie_age,criteria_met,top_performer
0,A.J. Bramlett,23.000000,208.280000,226.999545,Arizona,USA,1999,2,39,8,...,220-259,0-5,0-3,Very Low,Attended College,Round 2,31_to_60,23,1,0
1,A.J. Guyton,24.000000,185.420000,179.999639,Indiana,USA,2000,2,32,80,...,130-179,0-5,0-3,Low,Attended College,Round 2,31_to_60,23,1,0
2,A.J. Lawson,22.000000,198.120000,178.999641,South Carolina,Canada,0,Undrafted,Undrafted,15,...,130-179,0-5,0-3,Very Low,Attended College,Undrafted,Undrafted,22,0,0
3,AJ Green,23.000000,195.580000,189.999619,Northern Iowa,USA,0,Undrafted,Undrafted,35,...,180-219,0-5,0-3,Low,Attended College,Undrafted,Undrafted,23,0,0
4,AJ Griffin,19.000000,198.120000,219.999559,Duke,USA,2022,1,16,72,...,180-219,10-Jun,0-3,Average,Attended College,Round 1,11_to_30,19,2,0
5,AJ Hammons,24.000000,213.360000,259.999479,Purdue,USA,2016,2,46,22,...,220-259,0-5,0-3,Low,Attended College,Round 2,31_to_60,24,0,0
6,AJ Price,25.500000,187.960000,186.999625,Connecticut,USA,2009,2,52,261,...,180-219,10-Jun,0-3,Low,Attended College,Round 2,31_to_60,23,1,0
7,Aaron Brooks,28.100000,182.880000,160.999677,Oregon,USA,2007,1,26,645,...,130-179,10-Jun,0-3,Low,Attended College,Round 1,11_to_30,23,2,0
8,Aaron Gordon,23.000000,204.611111,226.666212,Arizona,USA,2014,1,4,596,...,220-259,15-Nov,9-Jul,Average,Attended College,Round 1,Top 10,19,4,1
9,Aaron Gray,26.000000,213.360000,269.999459,Pittsburgh,USA,2007,2,49,318,...,260-299,0-5,6-Apr,Low,Attended College,Round 2,31_to_60,23,1,0
10,Aaron Harrison,22.000000,198.120000,209.999579,Kentucky,USA,0,Undrafted,Undrafted,35,...,180-219,0-5,0-3,Low,Attended College,Undrafted,Undrafted,21,0,0
11,Aaron Henry,22.000000,195.580000,209.999579,Michigan State,USA,0,Undrafted,Undrafted,6,...,180-219,0-5,0-3,Very Low,Attended College,Undrafted,Undrafted,22,0,0
12,Aaron Holiday,24.000000,183.388000,184.999629,UCLA,USA,2018,1,23,308,...,180-219,10-Jun,0-3,Average,Attended College,Round 1,11_to_30,22,3,1
13,Aaron Jackson,32.000000,190.500000,182.999633,NaN,USA,0,Undrafted,Undrafted,1,...,180-219,10-Jun,0-3,Low,No College,Undrafted,Undrafted,32,2,0
14,Aaron Miles,23.000000,185.420000,189.999619,Kansas,USA,0,Undrafted,Undrafted,19,...,180-219,0-5,0-3,Low,Attended College,Undrafted,Undrafted,23,0,0
15,Aaron Nesmith,22.000000,195.580000,214.999569,Vanderbilt,USA,2020,1,14,171,...,180-219,10-Jun,0-3,Low,Attended College,Round 1,11_to_30,21,2,0
16,Aaron Wiggins,23.500000,194.310000,189.999619,Maryland,USA,2021,2,55,120,...,180-219,10-Jun,6-Apr,Low,Attended College,Round 2,31_to_60,23,2,0
17,Aaron Williams,30.500000,205.740000,232.082868,Xavier,USA,0,Undrafted,Undrafted,694,...,220-259,10-Jun,6-Apr,Low,Attended College,Undrafted,Undrafted,25,1,0
18,Abdel Nader,26.000000,196.596000,225.999547,Iowa State,Egypt,2016,2,58,202,...,220-259,0-5,0-3,Low,Attended College,Round 2,31_to_60,24,0,0
19,Acie Law,24.500000,190.500000,200.249598,Texas A&M,USA,2007,1,11,188,...,180-219,0-5,0-3,Low,Attended College,Round 1,11_to_30,23,1,0
20,Adam Harrington,22.000000,195.580000,199.999599,Auburn,USA,0,Undrafted,Undrafted,19,...,180-219,0-5,0-3,Low,Attended College,Undrafted,Undrafted,22,0,0
21,Adam Mokoka,21.500000,194.310000,189.999619,NaN,France,0,Undrafted,Undrafted,25,...,180-219,0-5,0-3,Average,No College,Undrafted,Undrafted,21,1,0
22,Adam Morrison,23.666667,203.200000,204.999589,Gonzaga,USA,2006,1,3,161,...,180-219,10-Jun,0-3,Low,Attended College,Round 1,Top 10,22,1,0
23,Ade Murkey,24.000000,195.580000,199.999599,Denver,USA,0,Undrafted,Undrafted,1,...,180-219,0-5,0-3,Very Low,Attended College,Undrafted,Undrafted,24,0,0
24,Admiral Schofield,24.666667,195.580000,240.999517,Tennessee,United Kingdom,2019,2,42,108,...,220-259,0-5,0-3,Low,Attended College,Round 2,31_to_60,23,0,0
25,Adonal Foyle,28.500000,208.280000,262.082808,Colgate,St. Vincent & Grenadines,1997,1,8,733,...,260-299,0-5,6-Apr,Low,Attended College,Round 1,Top 10,23,1,0
26,Adonis Thomas,21.000000,200.660000,239.999519,Memphis,USA,0,Undrafted,Undrafted,6,...,220-259,0-5,0-3,Good,Attended College,Undrafted,Undrafted,21,1,0
27,Adreian Payne,25.500000,208.280000,238.999521,Michigan State,USA,2014,1,15,107,...,220-259,0-5,0-3,Low,Attended College,Round 1,11_to_30,24,1,0
28,Adrian Caldwell,30.500000,203.200000,264.999469,Lamar,USA,0,Undrafted,Undrafted,46,...,260-299,0-5,0-3,Average,Attended College,Undrafted,Undrafted,30,1,0
29,Adrian Griffin,29.000000,195.580000,224.999549,Seton Hall,USA,0,Undrafted,Undrafted,477,...,220-259,0-5,0-3,Average,Attended College,Undrafted,Undrafted,25,2,0

In [76]:
#Testing out certain players in which I personally know their overall performance. It works
#merged_df2[merged_df2['player_name'].isin(['Robin Lopez', 'Brook Lopez'])]
merged_df2[merged_df2['player_name'] == 'Trae Young']

,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,gp,...,weight_range,pts_range,reb_range,net_rating_range,college_ctgry,draft_round_ctgry,draft_number_ctgry,rookie_age,criteria_met,top_performer
2015,Trae Young,22.0,185.928,173.599652,Oklahoma,USA,2018,1,5,353,...,130-179,26+,6-Apr,Low,Attended College,Round 1,Top 10,20,3,1

In [77]:
merged_df2.to_csv('top_performers.csv', index=False)

In [78]:
merged_df2['college'].nunique()

315

# Predicting a Top Performer... or Not

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [14]:
pre_df = pd.read_csv('top_performers.csv')

#replacing NaN & blanks with 'None'
pre_df['college'] = pre_df['college'].fillna('None')
pre_df['college'] = pre_df['college'].replace('', 'None')

#determining features & target
features = ['rookie_age', 'height_in', 'player_weight', 'college']
target = 'top_performer'
X = pre_df[features]
y = pre_df[target]

#Split to train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

#Setting up processing
categorical = ['college']
numeric = ['height_in', 'player_weight', 'rookie_age']

#leaving numeric columns as they are and splitting each school into their own column so a 1 shows if the player went to the school or not.
preprocessor = ColumnTransformer(transformers=[
    ('num', 'passthrough', numeric),
    ('cat', OneHotEncoder(handle_unknown='ignore'), categorical)
])

#Building & training model pipeline
pipeline = Pipeline(steps=[
    ('preprocessing', preprocessor),
    ('classifier', RandomForestClassifier(random_state=23, class_weight='balanced'))
])
pipeline.fit(X_train, y_train)

#Evaluating the model
y_pre = pipeline.predict(X_test)
print(classification_report(y_test, y_pre))

#Features used by model (Hypothetical Attributes)
new_player_data = pd.DataFrame([{
    'height_in': 83,
    'player_weight': 254,
    'college': 'Kentucky',
    'rookie_age': 20
}])

#Hypothetical player name
player_name = 'Derrick Drisker'

#Prediction
prediction = pipeline.predict(new_player_data)

#Result sentence
print(f"{player_name} will{' not' if prediction[0] == 0 else ''} be a top performing player.")

              precision    recall  f1-score   support

           0       0.82      0.95      0.88       352
           1       0.38      0.12      0.18        85

    accuracy                           0.79       437
   macro avg       0.60      0.54      0.53       437
weighted avg       0.73      0.79      0.74       437

Derrick Drisker will be a top performing player.

In [15]:
#defining the predictive model so I won't have to keep running the whole thing again
def predict_top_performer(name, height, weight, college, rookie_age):
    #prepare the input as a DataFrame
    new_player_data = pd.DataFrame([{
        'height_in': height,
        'player_weight': weight,
        'college': college,
        'rookie_age': rookie_age
    }])
    
    #predict using the trained pipeline
    prediction = pipeline.predict(new_player_data)
    
    #structuring the sentence
    return f"{name} will{' not' if prediction[0] == 0 else ''} be a top performing player."

In [16]:
print(predict_top_performer("Ricky Johnson", 79, 267, "Oregon", 24))

Ricky Johnson will not be a top performing player.

## Resampling to balance Training data for a more accurate predictive model

In [94]:
from sklearn.utils import resample

#Combining features and  into one df
pre_df_balanced = pd.concat([X_train, y_train], axis=1)

#Separating the classes so that pre_df_majority = 0 and pre_df_minority = 1
pre_df_majority = pre_df_balanced[pre_df_balanced[target] == 0]
pre_df_minority = pre_df_balanced[pre_df_balanced[target] == 1]

#Unsampling minority class and then randomly duplicating minority rows with replacement. Increasing the size to match majority sample size.
#Basically just balancing the dataset so each group has an equal sample size.
pre_df_minority_unsampled = resample(pre_df_minority,
                                     replace=True,
                                     n_samples=len(pre_df_majority),
                                     random_state=25)

#Combining majority and unsamples minority
pre_df_unsampled = pd.concat([pre_df_majority2, pre_df_minority_unsampled])

#Splitting features and target again
X_train_balanced = pre_df_unsampled[features]
y_train_balanced = pre_df_unsampled[target]

In [95]:
y_pre = pipeline.predict(X_test)
print(classification_report(y_test, y_pre))

              precision    recall  f1-score   support

           0       0.82      0.95      0.88       352
           1       0.38      0.12      0.18        85

    accuracy                           0.79       437
   macro avg       0.60      0.54      0.53       437
weighted avg       0.73      0.79      0.74       437

### Same results...

# Predicting Career Longevity

In [22]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

pre_df2 = pd.read_csv('top_performers.csv')

#replacing NaN & blanks with 'None'
pre_df2['college'] = pre_df2['college'].fillna('None')
pre_df2['college'] = pre_df2['college'].replace('', 'None')

#replacing "Undrafted's with 0 under draft_round & draft_number & then converting them to an integer column
pre_df2['draft_round'] = pre_df2['draft_round'].replace('Undrafted', 0)
pre_df2['draft_round'] = pre_df2['draft_round'].astype(int)
pre_df2['draft_number'] = pre_df2['draft_number'].replace('Undrafted', 0)
pre_df2['draft_number'] = pre_df2['draft_number'].astype(int)

#determining features & target
features = ['rookie_age', 'height_in', 'player_weight', 'college', 'draft_round', 'draft_number']
target = 'seasons_played'
X = pre_df2[features]
y = pre_df2[target]

#Split to train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 56)

#Setting up processing
categorical = ['college']
numeric = ['height_in', 'player_weight', 'rookie_age', 'draft_round', 'draft_number']

#leaving numeric columns as they are and splitting each school into their own column so a 1 shows if the player went to the school or not.
preprocessor = ColumnTransformer(transformers=[
    ('num', 'passthrough', numeric),
    ('cat', OneHotEncoder(handle_unknown='ignore'), categorical)
])

#Building & training model pipeline
pipeline = Pipeline(steps=[
    ('preprocessing', preprocessor),
    ('regressor', RandomForestRegressor(random_state=23))
])
pipeline.fit(X_train, y_train)

#Evaluating the model
y_pre = pipeline.predict(X_test)
print("MAE:", mean_absolute_error(y_test, y_pre))
print("MSE:", mean_squared_error(y_test, y_pre))
rmse = np.sqrt(mean_squared_error(y_test, y_pre))
print("RMSE:", rmse)

#Features used by model (Hypothetical Attributes)
new_player_data2 = pd.DataFrame([{
    'height_in': 83,
    'player_weight': 254,
    'college': 'Kentucky',
    'rookie_age': 20,
    'draft_round': 1,
    'draft_number': 13
}])

#Hypothetical player name
player_name2 = 'Derrick Drisker'

#Prediction
prediction2 = pipeline.predict(new_player_data2)

#Result sentence
print(f"{player_name2} is predicted to play for approxtimately {prediction2[0]} seasons.")

MAE: 2.924508009153318
MSE: 15.653107780320365
RMSE: 3.9564008619350446
Derrick Drisker is predicted to play for approxtimately 8.53 seasons.

#### Works pretty well!

In [23]:
def predict_career_longevity(name2, height2, weight2, college2, rookie_age2, draft_round, draft_number):
    # Prepare the input as a DataFrame
    new_player_data2 = pd.DataFrame([{
        'height_in': height2,
        'player_weight': weight2,
        'college': college2,
        'rookie_age': rookie_age2,
        'draft_round': draft_round,
        'draft_number': draft_number
    }])
    
    # Predict using the trained pipeline
    prediction2 = pipeline.predict(new_player_data2)
    
    # Return the sentence
    return f"{name2} is predicted to play for approxtimately {prediction2[0]} seasons."

In [28]:
print(predict_career_longevity("Ricky Johnson", 79, 269, "Oregon", 24, 0, 0))

Ricky Johnson is predicted to play for approxtimately 1.7 seasons.